<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceEnvioMasivoMiddleware" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7247/ServiceEnvioMasivoMiddleware.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceEnvioMasivoMiddleware"
                contract="serviceEnvioMasivo.IServiceEnvioMasivoMiddleware"
                name="BasicHttpBinding_IServiceEnvioMasivoMiddleware" />
        </client>
    </system.serviceModel>
</configuration>